@font-face {
  font-family: "iconfont"; /* Project id 3726479 */
  src: url('iconfont.woff2?t=1666608354203') format('woff2'),
       url('iconfont.woff?t=1666608354203') format('woff'),
       url('iconfont.ttf?t=1666608354203') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more-items:before {
  content: "\e601";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-pull-up:before {
  content: "\e603";
}

.icon-arrow-up:before {
  content: "\e604";
}

.icon-arrow-left:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-edit:before {
  content: "\e608";
}

.icon-sort:before {
  content: "\e609";
}

.icon-calculator:before {
  content: "\e60a";
}

.icon-error:before {
  content: "\e60b";
}

.icon-warning:before {
  content: "\e60c";
}

.icon-info:before {
  content: "\e60d";
}

.icon-succeed:before {
  content: "\e60e";
}

.icon-help:before {
  content: "\e60f";
}

.icon-delete:before {
  content: "\e610";
}

.icon-selected:before {
  content: "\e611";
}

.icon-refresh:before {
  content: "\e612";
}

.icon-W-26:before {
  content: "\e613";
}

.icon-W-37:before {
  content: "\e614";
}

.icon-W-38:before {
  content: "\e615";
}

.icon-W-39:before {
  content: "\e616";
}

.icon-W-03:before {
  content: "\e617";
}

.icon-W-25:before {
  content: "\e618";
}

.icon-W-02:before {
  content: "\e619";
}

